.contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  
  .camera {
    width: 600px;
    height: 450px;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  
  .capture {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .capture:hover {
    background-color: white;
    color: red;
    border: 2px solid red;
  }
  
  .scan-header {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
    border: 2px solid red;
    background: red;
    color: white
  }

  .absa-image{
    width: 100px;
  }
  
  .custom-swal-button {
    background-color: #4caf50; /* Custom background color */
    color: white; /* Text color */
    font-size: 20px; /* Font size */
    padding: 15px 30px; /* Padding for larger button */
    border-radius: 8px; /* Rounded corners */
    border: none; /* Remove default border */
    outline: none; /* Remove outline */
    cursor: pointer; /* Pointer on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  .custom-swal-button:hover {
    background-color: #45a049; /* Darken background on hover */
  }
  
  