.containe {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 95%;
  margin: 0 auto; /* Centers the container horizontally */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the content inside the container */
  justify-content: center; /* Centers the content vertically (if the container height is set) */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 700px;
  font-size: 14px;
}

input[type="submit"] {
  width: 100%;
  background-color: red;
  color: white;
  padding: 12px;
  border-radius: 80px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: red;
  color: black;
}



input:focus {
  outline: none;
  border-color: red;
  box-shadow: red;
  text-align: center;
}

.account {
  text-align: center;
  margin-top: 20px;
  color: #555;
  font-size: 14px;
  justify-content: center;
}
